.header
  .header__main
    .header__main__logo
      = link_to image_tag("ROCK LOVE HOUSE.png", size: "100x100", class: "logo"), root_path
    %form.header__main__search
      %input.header__main__search__form{name: "search", type: "text", placeholder: "イベント名、アーティスト名を入力して検索！"}
      %botton.header__main__search__button
        %i.fas.fa-search
  .button__nav
    .button__nav__logout
      ログアウト
    .button__nav__mypage
      マイページ
    
