.footer
  .footer__main
    .footer__main__contents
      .footer__main__contents__informaion
        .footer__main__contents__information__title
          ROCK LOVE HOUSEについて
        .footer__main__contents__information__content
          お知らせ
        .footer__main__contents__information__content
          利用規約
        .footer__main__contents__information__content
          個人情報保護方針
      .footer__main__contents__information
        .footer__main__contents__information__title
          ヘルプ・ガイド
        .footer__main__contents__information__content
          ご利用ガイド
        .footer__main__contents__information__content
          よくあるご質問
        .footer__main__contents__information__content
          お問い合わせ
    .footer__bottom
      .app
        = image_tag "ROCK LOVE HOUSE.png", size: "50x50"
        .app_name
          ROCK LOVE HOUSE
      .copyright
        © 2020 Shun Sakai All right reserved.
  = link_to set_lists_path do
    %button.set_list__button
      %i.fas.fa-list-ul
      .set_list__button__guide
        セットリストを
        %br
        投稿する