.header{
  width: 100%;
  height: 160px;
  &__main{
    display: flex;
    justify-content: center;
    height: 130px;
    &__logo{
      padding: 15px
    }
    &__search{
      line-height: 130px;
      width: 70%;
      height: 130px;
      display: flex;
      align-items: center;
      &__form{
        height: 40px;
        width: calc(100% - 60px);
        display: block;
      }
      &__button{
        background-color: #333366;
        margin-left: 5px;
        color: white;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        .fa-search{
          font-size: 20px;
          padding-left: 10px; 
        }
      }
    }
  }
  .button__nav{
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #1F1F1F;
    justify-content: flex-end;
    font-size: 13px;
    color: white;
    line-height: 30px;
    &__logout{
      padding-right: 30px;
      .logout__button{
        color: white;
        text-decoration: none;
      }
    }
    &__mypage{
      padding-right: 30px;
      .mypage__button{
        color: white;
        text-decoration: none;
      }
    }
    &__login{
      padding-right: 30px;
      .login__button{
        color: white;
        text-decoration: none;
      }
    }
    &__new_user_registration{
      padding-right: 30px;
      .new_user_registration__button{
        color: white;
        text-decoration: none;
      }
    }
  }
}