@mixin box{
  height: 200px;
  width: 200px;
  background-color: #DDDDDD;
}

.contents{
  font-family: 'Libre Baskerville', 'A1 Mincho', serif;
  margin-top: 100px;
   .introduction{
    height: 600px;
    width: 100%;
    display: flex;
    position: relative;
    text-align: center;
    &__title{
      font-size: 35px;
      position: absolute;
      top: 300px;
      left: 40px;
      color: #2D2D26;
      font-weight: 100;
      width: 50%;
    }
    &__explanation{
      font-size: 18px;
      position: absolute;
      top: 370px;
      left: 40px;
      color: #2D2D26;
      font-weight: 100;
      width: 50%;
    }
    &__leftbox{
      width: 20%;
    }
    &__backgrand{
      width: 80%;
      background-image: image-url("fes_image.jpg");
      background-color: rgba(255,255,255,0.3);
      background-blend-mode: lighten;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  .blank{
    height: 200px;
    text-align: center;
    font-family: 'Libre Baskerville', 'A1 Mincho', serif;
    &__title{
      font-size: 25px;
      padding-top: 50px;
    }
    &__explanation{
      font-size: 12px;
      padding-top: 15px;
      color: #667581;
    }
    .fadeInUp{
      opacity : 0;
      transform: translateY(50px);
      transition: 2.5s;
    }
  }
  .set_list__share{
    height: 420px;
    width: 100%;
    background-color: #f4f7fa;
    display: flex;
    text-align: center;
    font-family: 'Libre Baskerville', 'A1 Mincho', serif;
    &__leftbox{
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      .live__image{
        width: 400px;
        height: 300px;
        object-fit: cover;
        margin: 0 auto;
        position: absolute;
        right: 10px;
      }
    }
    &__rightbox{
      width: 60%;
      height: 100%;
      &__title{
        padding-top: 70px;
        font-size: 27px;
      }
      &__explanation{
        font-size: 14px;
        line-height: 3;
        padding: 20px 0 20px;
      }
      .fadeInUp{
        // opacity → 不透明度の指定
        opacity : 0;
        // transform → 移動距離の指定
        transform: translateY(50px);
        // transition → 移動時間の指定
        transition: 2.5s;
      }
      &__button{
        font-size: 12px;
        width: 150px;
        height: 30px;
        border: solid 1px;
        background-color: #fff;
        line-height: 30px;
        margin: 0 auto;

        a{
          text-decoration: none;
          color: black;
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
  }

  .image__share{
    width: 100%;
    height: 460px;
    background-color: white;
    text-align: center;
    display: flex;
    font-family: 'Libre Baskerville', 'A1 Mincho', serif;
    &__leftbox{
      width: 60%;
      height: 100%;
      &__title{
        padding-top: 70px;
        font-size: 27px;
      }
      &__explanation{
        font-size: 14px;
        line-height: 3;
        padding: 20px 0 20px;
      }
      .fadeInUp{
        // opacity → 不透明度の指定
        opacity : 0;
        // transform → 移動距離の指定
        transform: translateY(50px);
        // transition → 移動時間の指定
        transition: 2.5s;
      }
      &__button{
        font-size: 12px;
        width: 150px;
        height: 30px;
        border: solid 1px;
        background-color: #fff;
        line-height: 30px;
        margin: 0 auto;

        a{
          text-decoration: none;
          color: black;
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
    &__rightbox{
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      .post__image{
        width: 400px;
        height: 300px;
        object-fit: cover;
        margin: 0 auto;
        position: absolute;
        left: 10px;
      }
    }
  }
}
