.set_list__content{
  text-align: center;
  width: 100%;
  font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
  font-size: 15px;
  background-color: #EEEEEE;
  padding-bottom: 30px;
  .main__content{
    display: flex;
    .left__box{
      width: 17%;
      position: relative;
      .contributor__box{
        position: absolute;
        top: 40px;
        right: 0;
        .contributor__icon{
          height: 100px;
          width: 100px;
          background-color: white;
          margin: 0 auto;
          border: 1px solid #1f1f1f;
          .sample_icon{
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
        .contributor__nickname{
          font-size: 13px;
          padding-top: 10px;
        }
      }
      .button__box{
        display: flex;
        width: 65px;
        height: 25px;
        position: absolute;
        bottom: 10px;
        right: 0;
        justify-content: center;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        .like__button{
          a{
            text-decoration: none;
            .like__box{
              display: flex;
              color: #FF82B2	;
              .heart__mark__registered{
              }
              .like__number{
              }
            }
          }
        }
        .like__box{
          display: flex;
          color: #FF82B2;
        }
        .twitter__box{
          color: #4689FF;
          padding-left: 10px;
        }
      }
    }
    .posted__set_list{
      width: 66%;
      padding: 20px 0 20px;
      .posted__set_list__title{
        padding-bottom: 20px;
        .event__name{
          font-size: 20px;
        }
        .artist__name{
          font-size: 25px;
        }
      }
      .posted__set_list__contents{
        .song{
          height: 40px;
          font-size: 20px;
          display: flex;
          line-height: 40px;
          padding: 0.5em 1em;
          margin: 1em 50px;
          color: #5d627b;
          background: white;
          border-top: solid 3px #1f1f1f;
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
          border-radius: 5px;
          &__number{
            padding-left: 10px;
            font-size: 17px;
          }
          &__name{
            margin: 0 auto;
          }
        }
      }
    }
    .right__box{
      width: 17%;
      position: relative;
      &__button__box{
        width: 100px;
        position: absolute;
        bottom: 10px;
        left: 0px;
        display: flex;
        font-size: 13px;
        .edit__button{
          color: #5d627b;
          text-decoration: none;
          width: 50%;
          height: 20px;
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
          border-radius: 5px;
          background-color: white;
        }
        .delete__button{
          color: #5d627b;
          text-decoration: none;
          margin-left: 5px;
          width: 50%;
          height: 20px;
          border-radius: 5px;
          background-color: white;
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        }
      }
    }
  }
  .comment__box{
    margin: 15px 15% 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    .comment__contents{
      width: 80%;
      margin: 0 auto;
      padding-top: 20px;
      .comment__empty{
        color: #5d627b;
      }
      .comment__posted{
        padding-bottom: 20px;
        &__information{
          display: flex;
          .comment__user__nickname{
            font-size: 15px;
          }
          .comment__post__time{
            color: #808080;
            font-size: 10px;
            padding-left: 10px;
          }
        }
        &__box{
          display: flex;
          position: relative;
          .comment__posted__content{
            text-align: left;
            padding-top: 15px
          }
          .comment__delete__button{
            color: #808080;
            text-decoration: none;
            margin-top: 15px;
            position: absolute;
            right: 0;
            background-color: white;
            border: none;
            cursor: pointer;

          }
        }
      }
    }
    .comment__form__box{
      padding: 20px 0 30px;
      position: relative;
      margin: 0 10% 0;
      text-align: left;
      .comment__form{
        width: calc(100% - 65px);
        height: 40px;
      }
      .comment__post__button{
        width: 60px;
        height: 40px;
        position: absolute;
        bottom: 32px;
        margin-left: 5px;
        .fa-comment{
          font-size: 30px;
        }
      }
    }
  }
}